fitness-plan-backend/core-ms/app/src/main/resources/wsdl/nibss.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spring.io/guides/gs-producing-web-service"
           targetNamespace="http://spring.io/guides/gs-producing-web-service" elementFormDefault="qualified">


    <xs:element name="TSQuerySingleRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SourceInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="SessionID" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TSQuerySingleResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SourceInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="ResponseCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <xs:element name="FTAckCredit">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="NameEnquiryRef" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="BeneficiaryAccountName" type="xs:string"/>
                <xs:element name="BeneficiaryAccountNumber" type="xs:string"/>
                <xs:element name="BeneficiaryBankVerificationNumber" type="xs:string"/>
                <xs:element name="BeneficiaryKYCLevel" type="xs:int"/>
                <xs:element name="OriginatorAccountName" type="xs:string"/>
                <xs:element name="OriginatorAccountNumber" type="xs:string"/>
                <xs:element name="OriginatorBankVerificationNumber" type="xs:string"/>
                <xs:element name="OriginatorKYCLevel" type="xs:int"/>
                <xs:element name="TransactionLocation" type="xs:string"/>
                <xs:element name="Narration" type="xs:string"/>
                <xs:element name="PaymentReference" type="xs:string"/>
                <xs:element name="Amount" type="xs:string"/>
                <xs:element name="ResponseCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FTAckCreditResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="NameEnquiryRef" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="BeneficiaryAccountName" type="xs:string"/>
                <xs:element name="BeneficiaryAccountNumber" type="xs:string"/>
                <xs:element name="BeneficiaryBankVerificationNumber" type="xs:string"/>
                <xs:element name="BeneficiaryKYCLevel" type="xs:int"/>
                <xs:element name="OriginatorAccountName" type="xs:string"/>
                <xs:element name="OriginatorAccountNumber" type="xs:string"/>
                <xs:element name="OriginatorBankVerificationNumber" type="xs:string"/>
                <xs:element name="OriginatorKYCLevel" type="xs:int"/>
                <xs:element name="TransactionLocation" type="xs:string"/>
                <xs:element name="Narration" type="xs:string"/>
                <xs:element name="PaymentReference" type="xs:string"/>
                <xs:element name="Amount" type="xs:string"/>
                <xs:element name="ResponseCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <xs:element name="MandateAdviceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="MandateReferenceNumber" type="xs:string"/>
                <xs:element name="Amount" type="xs:string"/>
                <xs:element name="DebitAccountName" type="xs:string"/>
                <xs:element name="DebitAccountNumber" type="xs:string"/>
                <xs:element name="DebitBankVerificationNumber" type="xs:string"/>
                <xs:element name="DebitKYCLevel" type="xs:int"/>
                <xs:element name="BeneficiaryAccountName" type="xs:string"/>
                <xs:element name="BeneficiaryAccountNumber" type="xs:string"/>
                <xs:element name="BeneficiaryBankVerificationNumber" type="xs:string"/>
                <xs:element name="BeneficiaryKYCLevel" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="MandateAdviceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="MandateReferenceNumber" type="xs:string"/>
                <xs:element name="Amount" type="xs:string"/>
                <xs:element name="DebitAccountName" type="xs:string"/>
                <xs:element name="DebitAccountNumber" type="xs:string"/>
                <xs:element name="DebitBankVerificationNumber" type="xs:string"/>
                <xs:element name="DebitKYCLevel" type="xs:int"/>
                <xs:element name="BeneficiaryAccountName" type="xs:string"/>
                <xs:element name="BeneficiaryAccountNumber" type="xs:string"/>
                <xs:element name="BeneficiaryBankVerificationNumber" type="xs:string"/>
                <xs:element name="BeneficiaryKYCLevel" type="xs:int"/>
                <xs:element name="ResponseCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="FinancialInstitutionListRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="BatchNumber"/>
                            <xs:element type="xs:int" name="NumberOfRecords"/>
                            <xs:element type="xs:int" name="ChannelCode"/>
                            <xs:element type="xs:string" name="TransactionLocation"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Record" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="InstitutionCode"/>
                            <xs:element type="xs:string" name="InstitutionName"/>
                            <xs:element type="xs:int" name="Category"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FinancialInstitutionListResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="BatchNumber"/>
                <xs:element type="xs:string" name="DestinationInstitutionCode"/>
                <xs:element type="xs:int" name="ChannelCode"/>
                <xs:element type="xs:int" name="NumberOfRecords"/>
                <xs:element type="xs:string" name="ResponseCode"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AmountBlockRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="ReferenceCode" type="xs:string"/>
                <xs:element name="TargetAccountName" type="xs:string"/>
                <xs:element name="TargetBankVerificationNumber" type="xs:string"/>
                <xs:element name="TargetAccountNumber" type="xs:string"/>
                <xs:element name="ReasonCode" type="xs:string"/>
                <xs:element name="Narration" type="xs:string"/>
                <xs:element name="Amount" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AmountBlockResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="ReferenceCode" type="xs:string"/>
                <xs:element name="TargetAccountName" type="xs:string"/>
                <xs:element name="TargetBankVerificationNumber" type="xs:string"/>
                <xs:element name="TargetAccountNumber" type="xs:string"/>
                <xs:element name="ReasonCode" type="xs:string"/>
                <xs:element name="Narration" type="xs:string"/>
                <xs:element name="Amount" type="xs:string"/>
                <xs:element name="ResponseCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="AmountUnblockRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="ReferenceCode" type="xs:string"/>
                <xs:element name="TargetAccountName" type="xs:string"/>
                <xs:element name="TargetBankVerificationNumber" type="xs:string"/>
                <xs:element name="TargetAccountNumber" type="xs:string"/>
                <xs:element name="ReasonCode" type="xs:string"/>
                <xs:element name="Narration" type="xs:string"/>
                <xs:element name="Amount" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AmountUnblockResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="ReferenceCode" type="xs:string"/>
                <xs:element name="TargetAccountName" type="xs:string"/>
                <xs:element name="TargetBankVerificationNumber" type="xs:string"/>
                <xs:element name="TargetAccountNumber" type="xs:string"/>
                <xs:element name="ReasonCode" type="xs:string"/>
                <xs:element name="Narration" type="xs:string"/>
                <xs:element name="Amount" type="xs:string"/>
                <xs:element name="ResponseCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="AccountBlockRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="ReferenceCode" type="xs:string"/>
                <xs:element name="TargetAccountName" type="xs:string"/>
                <xs:element name="TargetBankVerificationNumber" type="xs:string"/>
                <xs:element name="TargetAccountNumber" type="xs:string"/>
                <xs:element name="ReasonCode" type="xs:string"/>
                <xs:element name="Narration" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AccountBlockResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="ReferenceCode" type="xs:string"/>
                <xs:element name="TargetAccountName" type="xs:string"/>
                <xs:element name="TargetBankVerificationNumber" type="xs:string"/>
                <xs:element name="TargetAccountNumber" type="xs:string"/>
                <xs:element name="ReasonCode" type="xs:string"/>
                <xs:element name="Narration" type="xs:string"/>
                <xs:element name="ResponseCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="AccountUnblockRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="ReferenceCode" type="xs:string"/>
                <xs:element name="TargetAccountName" type="xs:string"/>
                <xs:element name="TargetBankVerificationNumber" type="xs:string"/>
                <xs:element name="TargetAccountNumber" type="xs:string"/>
                <xs:element name="ReasonCode" type="xs:string"/>
                <xs:element name="Narration" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AccountUnblockResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="ReferenceCode" type="xs:string"/>
                <xs:element name="TargetAccountName" type="xs:string"/>
                <xs:element name="TargetBankVerificationNumber" type="xs:string"/>
                <xs:element name="TargetAccountNumber" type="xs:string"/>
                <xs:element name="ReasonCode" type="xs:string"/>
                <xs:element name="Narration" type="xs:string"/>
                <xs:element name="ResponseCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <xs:element name="FTAdviceCreditRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="NameEnquiryRef" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="BeneficiaryAccountName" type="xs:string"/>
                <xs:element name="BeneficiaryAccountNumber" type="xs:string"/>
                <xs:element name="BeneficiaryBankVerificationNumber" type="xs:string"/>
                <xs:element name="BeneficiaryKYCLevel" type="xs:int"/>
                <xs:element name="OriginatorAccountName" type="xs:string"/>
                <xs:element name="OriginatorAccountNumber" type="xs:string"/>
                <xs:element name="OriginatorBankVerificationNumber" type="xs:string"/>
                <xs:element name="OriginatorKYCLevel" type="xs:int"/>
                <xs:element name="TransactionLocation" type="xs:string"/>
                <xs:element name="Narration" type="xs:string"/>
                <xs:element name="PaymentReference" type="xs:string"/>
                <xs:element name="Amount" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FTAdviceCreditResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="NameEnquiryRef" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="BeneficiaryAccountName" type="xs:string"/>
                <xs:element name="BeneficiaryAccountNumber" type="xs:string"/>
                <xs:element name="BeneficiaryBankVerificationNumber" type="xs:string"/>
                <xs:element name="BeneficiaryKYCLevel" type="xs:int"/>
                <xs:element name="OriginatorAccountName" type="xs:string"/>
                <xs:element name="OriginatorAccountNumber" type="xs:string"/>
                <xs:element name="OriginatorBankVerificationNumber" type="xs:string"/>
                <xs:element name="OriginatorKYCLevel" type="xs:int"/>
                <xs:element name="TransactionLocation" type="xs:string"/>
                <xs:element name="Narration" type="xs:string"/>
                <xs:element name="PaymentReference" type="xs:string"/>
                <xs:element name="Amount" type="xs:string"/>
                <xs:element name="ResponseCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <xs:element name="FTAdviceDebitRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="NameEnquiryRef" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="DebitAccountName" type="xs:string"/>
                <xs:element name="DebitAccountNumber" type="xs:string"/>
                <xs:element name="DebitBankVerificationNumber" type="xs:string"/>
                <xs:element name="DebitKYCLevel" type="xs:int"/>
                <xs:element name="BeneficiaryAccountName" type="xs:string"/>
                <xs:element name="BeneficiaryAccountNumber" type="xs:string"/>
                <xs:element name="BeneficiaryBankVerificationNumber" type="xs:string"/>
                <xs:element name="BeneficiaryKYCLevel" type="xs:int"/>
                <xs:element name="TransactionLocation" type="xs:string"/>
                <xs:element name="Narration" type="xs:string"/>
                <xs:element name="PaymentReference" type="xs:string"/>
                <xs:element name="MandateReferenceNumber" type="xs:string"/>
                <xs:element name="TransactionFee" type="xs:string"/>
                <xs:element name="Amount" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FTAdviceDebitResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="NameEnquiryRef" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="DebitAccountName" type="xs:string"/>
                <xs:element name="DebitAccountNumber" type="xs:string"/>
                <xs:element name="DebitBankVerificationNumber" type="xs:string"/>
                <xs:element name="DebitKYCLevel" type="xs:int"/>
                <xs:element name="BeneficiaryAccountName" type="xs:string"/>
                <xs:element name="BeneficiaryAccountNumber" type="xs:string"/>
                <xs:element name="BeneficiaryBankVerificationNumber" type="xs:string"/>
                <xs:element name="BeneficiaryKYCLevel" type="xs:int"/>
                <xs:element name="TransactionLocation" type="xs:string"/>
                <xs:element name="Narration" type="xs:string"/>
                <xs:element name="PaymentReference" type="xs:string"/>
                <xs:element name="MandateReferenceNumber" type="xs:string"/>
                <xs:element name="TransactionFee" type="xs:string"/>
                <xs:element name="Amount" type="xs:string"/>
                <xs:element name="ResponseCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="BalanceEnquiryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="AuthorizationCode" type="xs:string"/>
                <xs:element name="TargetAccountName" type="xs:string"/>
                <xs:element name="TargetBankVerificationNumber" type="xs:string"/>
                <xs:element name="TargetAccountNumber" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="BalanceEnquiryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="AuthorizationCode" type="xs:string"/>
                <xs:element name="TargetAccountName" type="xs:string"/>
                <xs:element name="TargetBankVerificationNumber" type="xs:string"/>
                <xs:element name="TargetAccountNumber" type="xs:string"/>
                <xs:element name="AvailableBalance" type="xs:string"/>
                <xs:element name="ResponseCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>




    <xs:element name="NESingleRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="AccountNumber" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="NESingleResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="AccountNumber" type="xs:string"/>
                <xs:element name="AccountName" type="xs:string"/>
                <xs:element name="BankVerificationNumber" type="xs:string"/>
                <xs:element name="KYCLevel" type="xs:int"/>
                <xs:element name="ResponseCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="FTSingleCreditRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="NameEnquiryRef" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="BeneficiaryAccountName" type="xs:string"/>
                <xs:element name="BeneficiaryAccountNumber" type="xs:string"/>
                <xs:element name="BeneficiaryBankVerificationNumber" type="xs:string"/>
                <xs:element name="BeneficiaryKYCLevel" type="xs:int"/>
                <xs:element name="OriginatorAccountName" type="xs:string"/>
                <xs:element name="OriginatorAccountNumber" type="xs:string"/>
                <xs:element name="OriginatorBankVerificationNumber" type="xs:string"/>
                <xs:element name="OriginatorKYCLevel" type="xs:int"/>
                <xs:element name="TransactionLocation" type="xs:string"/>
                <xs:element name="Narration" type="xs:string"/>
                <xs:element name="PaymentReference" type="xs:string"/>
                <xs:element name="Amount" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FTSingleCreditResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="NameEnquiryRef" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="BeneficiaryAccountName" type="xs:string"/>
                <xs:element name="BeneficiaryAccountNumber" type="xs:string"/>
                <xs:element name="BeneficiaryBankVerificationNumber" type="xs:string"/>
                <xs:element name="BeneficiaryKYCLevel" type="xs:int"/>
                <xs:element name="OriginatorAccountName" type="xs:string"/>
                <xs:element name="OriginatorAccountNumber" type="xs:string"/>
                <xs:element name="OriginatorBankVerificationNumber" type="xs:string"/>
                <xs:element name="OriginatorKYCLevel" type="xs:int"/>
                <xs:element name="TransactionLocation" type="xs:string"/>
                <xs:element name="Narration" type="xs:string"/>
                <xs:element name="PaymentReference" type="xs:string"/>
                <xs:element name="Amount" type="xs:string"/>
                <xs:element name="ResponseCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="FTSingleDebitRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="NameEnquiryRef" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="DebitAccountName" type="xs:string"/>
                <xs:element name="DebitAccountNumber" type="xs:string"/>
                <xs:element name="DebitBankVerificationNumber" type="xs:string"/>
                <xs:element name="DebitKYCLevel" type="xs:int"/>
                <xs:element name="BeneficiaryAccountName" type="xs:string"/>
                <xs:element name="BeneficiaryAccountNumber" type="xs:string"/>
                <xs:element name="BeneficiaryBankVerificationNumber" type="xs:string"/>
                <xs:element name="BeneficiaryKYCLevel" type="xs:int"/>
                <xs:element name="TransactionLocation" type="xs:string"/>
                <xs:element name="Narration" type="xs:string"/>
                <xs:element name="PaymentReference" type="xs:string"/>
                <xs:element name="MandateReferenceNumber" type="xs:string"/>
                <xs:element name="TransactionFee" type="xs:string"/>
                <xs:element name="Amount" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="FTSingleDebitResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SessionID" type="xs:string"/>
                <xs:element name="NameEnquiryRef" type="xs:string"/>
                <xs:element name="DestinationInstitutionCode" type="xs:string"/>
                <xs:element name="ChannelCode" type="xs:int"/>
                <xs:element name="DebitAccountName" type="xs:string"/>
                <xs:element name="DebitAccountNumber" type="xs:string"/>
                <xs:element name="DebitBankVerificationNumber" type="xs:string"/>
                <xs:element name="DebitKYCLevel" type="xs:int"/>
                <xs:element name="BeneficiaryAccountName" type="xs:string"/>
                <xs:element name="BeneficiaryAccountNumber" type="xs:string"/>
                <xs:element name="BeneficiaryBankVerificationNumber" type="xs:string"/>
                <xs:element name="BeneficiaryKYCLevel" type="xs:int"/>
                <xs:element name="TransactionLocation" type="xs:string"/>
                <xs:element name="Narration" type="xs:string"/>
                <xs:element name="PaymentReference" type="xs:string"/>
                <xs:element name="MandateReferenceNumber" type="xs:string"/>
                <xs:element name="TransactionFee" type="xs:string"/>
                <xs:element name="Amount" type="xs:string"/>
                <xs:element name="ResponseCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:simpleType name="ChannelCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GBP"/>
            <xs:enumeration value="EUR"/>
            <xs:enumeration value="PLN"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="KYCLevel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ONE"/>
            <xs:enumeration value="TWO"/>
            <xs:enumeration value="THREE"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>