fitness-plan-backend/core-ms/app/src/main/resources/wsdl/NIPInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://core.nip.nibss/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="http://core.nip.nibss/" name="NIPInterface">
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified"
                   targetNamespace="http://core.nip.nibss/" version="1.0">

            <xs:element name="accountblock" type="tns:accountblock"/>

            <xs:element name="accountblockResponse" type="tns:accountblockResponse"/>

            <xs:element name="accountunblock" type="tns:accountunblock"/>

            <xs:element name="accountunblockResponse" type="tns:accountunblockResponse"/>

            <xs:element name="adjustNIPSettings" type="tns:adjustNIPSettings"/>

            <xs:element name="adjustNIPSettingsResponse" type="tns:adjustNIPSettingsResponse"/>

            <xs:element name="amountblock" type="tns:amountblock"/>

            <xs:element name="amountblockResponse" type="tns:amountblockResponse"/>

            <xs:element name="amountunblock" type="tns:amountunblock"/>

            <xs:element name="amountunblockResponse" type="tns:amountunblockResponse"/>

            <xs:element name="balanceenquiry" type="tns:balanceenquiry"/>

            <xs:element name="balanceenquiryResponse" type="tns:balanceenquiryResponse"/>

            <xs:element name="financialinstitutionlist" type="tns:financialinstitutionlist"/>

            <xs:element name="financialinstitutionlistResponse" type="tns:financialinstitutionlistResponse"/>

            <xs:element name="fundtransferAdvice_dc" type="tns:fundtransferAdvice_dc"/>

            <xs:element name="fundtransferAdvice_dcResponse" type="tns:fundtransferAdvice_dcResponse"/>

            <xs:element name="fundtransferAdvice_dd" type="tns:fundtransferAdvice_dd"/>

            <xs:element name="fundtransferAdvice_ddResponse" type="tns:fundtransferAdvice_ddResponse"/>

            <xs:element name="fundtransfersingleitem_dc" type="tns:fundtransfersingleitem_dc"/>

            <xs:element name="fundtransfersingleitem_dcResponse" type="tns:fundtransfersingleitem_dcResponse"/>

            <xs:element name="fundtransfersingleitem_dd" type="tns:fundtransfersingleitem_dd"/>

            <xs:element name="fundtransfersingleitem_ddResponse" type="tns:fundtransfersingleitem_ddResponse"/>

            <xs:element name="mandateadvice" type="tns:mandateadvice"/>

            <xs:element name="mandateadviceResponse" type="tns:mandateadviceResponse"/>

            <xs:element name="nameenquirysingleitem" type="tns:nameenquirysingleitem"/>

            <xs:element name="nameenquirysingleitemResponse" type="tns:nameenquirysingleitemResponse"/>

            <xs:element name="privateAdjustmentOfSettings" type="tns:privateAdjustmentOfSettings"/>

            <xs:element name="privateAdjustmentOfSettingsResponse" type="tns:privateAdjustmentOfSettingsResponse"/>

            <xs:element name="txnstatusquerysingleitem" type="tns:txnstatusquerysingleitem"/>

            <xs:element name="txnstatusquerysingleitemResponse" type="tns:txnstatusquerysingleitemResponse"/>

            <xs:complexType name="amountunblock">
                <xs:sequence>
                    <xs:element minOccurs="0" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="amountunblockResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="adjustNIPSettings">
                <xs:sequence>
                    <xs:element minOccurs="0" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="adjustNIPSettingsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="financialinstitutionlist">
                <xs:sequence>
                    <xs:element minOccurs="0" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="financialinstitutionlistResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="txnstatusquerysingleitem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="txnstatusquerysingleitemResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="amountblock">
                <xs:sequence>
                    <xs:element minOccurs="0" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="amountblockResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="privateAdjustmentOfSettings">
                <xs:sequence>
                    <xs:element minOccurs="0" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="privateAdjustmentOfSettingsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="nameenquirysingleitem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="nameenquirysingleitemResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="accountblock">
                <xs:sequence>
                    <xs:element minOccurs="0" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="accountblockResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="fundtransfersingleitem_dc">
                <xs:sequence>
                    <xs:element minOccurs="0" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="fundtransfersingleitem_dcResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="fundtransfersingleitem_dd">
                <xs:sequence>
                    <xs:element minOccurs="0" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="fundtransfersingleitem_ddResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="balanceenquiry">
                <xs:sequence>
                    <xs:element minOccurs="0" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="balanceenquiryResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="accountunblock">
                <xs:sequence>
                    <xs:element minOccurs="0" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="accountunblockResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="mandateadvice">
                <xs:sequence>
                    <xs:element minOccurs="0" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="mandateadviceResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="fundtransferAdvice_dd">
                <xs:sequence>
                    <xs:element minOccurs="0" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="fundtransferAdvice_ddResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="fundtransferAdvice_dc">
                <xs:sequence>
                    <xs:element minOccurs="0" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="fundtransferAdvice_dcResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="fundtransfersingleitem_dc">
        <part name="parameters" element="tns:fundtransfersingleitem_dc"></part>
    </message>
    <message name="fundtransfersingleitem_dcResponse">
        <part name="parameters" element="tns:fundtransfersingleitem_dcResponse"></part>
    </message>
    <message name="fundtransfersingleitem_dd">
        <part name="parameters" element="tns:fundtransfersingleitem_dd"></part>
    </message>
    <message name="fundtransfersingleitem_ddResponse">
        <part name="parameters" element="tns:fundtransfersingleitem_ddResponse"></part>
    </message>
    <message name="txnstatusquerysingleitem">
        <part name="parameters" element="tns:txnstatusquerysingleitem"></part>
    </message>
    <message name="txnstatusquerysingleitemResponse">
        <part name="parameters" element="tns:txnstatusquerysingleitemResponse"></part>
    </message>
    <message name="balanceenquiry">
        <part name="parameters" element="tns:balanceenquiry"></part>
    </message>
    <message name="balanceenquiryResponse">
        <part name="parameters" element="tns:balanceenquiryResponse"></part>
    </message>
    <message name="nameenquirysingleitem">
        <part name="parameters" element="tns:nameenquirysingleitem"></part>
    </message>
    <message name="nameenquirysingleitemResponse">
        <part name="parameters" element="tns:nameenquirysingleitemResponse"></part>
    </message>
    <message name="amountblock">
        <part name="parameters" element="tns:amountblock"></part>
    </message>
    <message name="amountblockResponse">
        <part name="parameters" element="tns:amountblockResponse"></part>
    </message>
    <message name="amountunblock">
        <part name="parameters" element="tns:amountunblock"></part>
    </message>
    <message name="amountunblockResponse">
        <part name="parameters" element="tns:amountunblockResponse"></part>
    </message>
    <message name="accountblock">
        <part name="parameters" element="tns:accountblock"></part>
    </message>
    <message name="accountblockResponse">
        <part name="parameters" element="tns:accountblockResponse"></part>
    </message>
    <message name="accountunblock">
        <part name="parameters" element="tns:accountunblock"></part>
    </message>
    <message name="accountunblockResponse">
        <part name="parameters" element="tns:accountunblockResponse"></part>
    </message>
    <message name="adjustNIPSettings">
        <part name="parameters" element="tns:adjustNIPSettings"></part>
    </message>
    <message name="adjustNIPSettingsResponse">
        <part name="parameters" element="tns:adjustNIPSettingsResponse"></part>
    </message>
    <message name="mandateadvice">
        <part name="parameters" element="tns:mandateadvice"></part>
    </message>
    <message name="mandateadviceResponse">
        <part name="parameters" element="tns:mandateadviceResponse"></part>
    </message>
    <message name="financialinstitutionlist">
        <part name="parameters" element="tns:financialinstitutionlist"></part>
    </message>
    <message name="financialinstitutionlistResponse">
        <part name="parameters" element="tns:financialinstitutionlistResponse"></part>
    </message>
    <message name="fundtransferAdvice_dc">
        <part name="parameters" element="tns:fundtransferAdvice_dc"></part>
    </message>
    <message name="fundtransferAdvice_dcResponse">
        <part name="parameters" element="tns:fundtransferAdvice_dcResponse"></part>
    </message>
    <message name="fundtransferAdvice_dd">
        <part name="parameters" element="tns:fundtransferAdvice_dd"></part>
    </message>
    <message name="fundtransferAdvice_ddResponse">
        <part name="parameters" element="tns:fundtransferAdvice_ddResponse"></part>
    </message>
    <message name="privateAdjustmentOfSettings">
        <part name="parameters" element="tns:privateAdjustmentOfSettings"></part>
    </message>
    <message name="privateAdjustmentOfSettingsResponse">
        <part name="parameters" element="tns:privateAdjustmentOfSettingsResponse"></part>
    </message>
    <portType name="NIPInterface">
        <operation name="fundtransfersingleitem_dc">
            <input wsam:Action="http://core.nip.nibss/NIPInterface/fundtransfersingleitem_dcRequest" message="tns:fundtransfersingleitem_dc"></input>
            <output wsam:Action="http://core.nip.nibss/NIPInterface/fundtransfersingleitem_dcResponse" message="tns:fundtransfersingleitem_dcResponse"></output>
        </operation>
        <operation name="fundtransfersingleitem_dd">
            <input wsam:Action="http://core.nip.nibss/NIPInterface/fundtransfersingleitem_ddRequest" message="tns:fundtransfersingleitem_dd"></input>
            <output wsam:Action="http://core.nip.nibss/NIPInterface/fundtransfersingleitem_ddResponse" message="tns:fundtransfersingleitem_ddResponse"></output>
        </operation>
        <operation name="txnstatusquerysingleitem">
            <input wsam:Action="http://core.nip.nibss/NIPInterface/txnstatusquerysingleitemRequest" message="tns:txnstatusquerysingleitem"></input>
            <output wsam:Action="http://core.nip.nibss/NIPInterface/txnstatusquerysingleitemResponse" message="tns:txnstatusquerysingleitemResponse"></output>
        </operation>
        <operation name="balanceenquiry">
            <input wsam:Action="http://core.nip.nibss/NIPInterface/balanceenquiryRequest" message="tns:balanceenquiry"></input>
            <output wsam:Action="http://core.nip.nibss/NIPInterface/balanceenquiryResponse" message="tns:balanceenquiryResponse"></output>
        </operation>
        <operation name="nameenquirysingleitem">
            <input wsam:Action="http://core.nip.nibss/NIPInterface/nameenquirysingleitemRequest" message="tns:nameenquirysingleitem"></input>
            <output wsam:Action="http://core.nip.nibss/NIPInterface/nameenquirysingleitemResponse" message="tns:nameenquirysingleitemResponse"></output>
        </operation>
        <operation name="amountblock">
            <input wsam:Action="http://core.nip.nibss/NIPInterface/amountblockRequest" message="tns:amountblock"></input>
            <output wsam:Action="http://core.nip.nibss/NIPInterface/amountblockResponse" message="tns:amountblockResponse"></output>
        </operation>
        <operation name="amountunblock">
            <input wsam:Action="http://core.nip.nibss/NIPInterface/amountunblockRequest" message="tns:amountunblock"></input>
            <output wsam:Action="http://core.nip.nibss/NIPInterface/amountunblockResponse" message="tns:amountunblockResponse"></output>
        </operation>
        <operation name="accountblock">
            <input wsam:Action="http://core.nip.nibss/NIPInterface/accountblockRequest" message="tns:accountblock"></input>
            <output wsam:Action="http://core.nip.nibss/NIPInterface/accountblockResponse" message="tns:accountblockResponse"></output>
        </operation>
        <operation name="accountunblock">
            <input wsam:Action="http://core.nip.nibss/NIPInterface/accountunblockRequest" message="tns:accountunblock"></input>
            <output wsam:Action="http://core.nip.nibss/NIPInterface/accountunblockResponse" message="tns:accountunblockResponse"></output>
        </operation>
        <operation name="adjustNIPSettings">
            <input wsam:Action="http://core.nip.nibss/NIPInterface/adjustNIPSettingsRequest" message="tns:adjustNIPSettings"></input>
            <output wsam:Action="http://core.nip.nibss/NIPInterface/adjustNIPSettingsResponse" message="tns:adjustNIPSettingsResponse"></output>
        </operation>
        <operation name="mandateadvice">
            <input wsam:Action="http://core.nip.nibss/NIPInterface/mandateadviceRequest" message="tns:mandateadvice"></input>
            <output wsam:Action="http://core.nip.nibss/NIPInterface/mandateadviceResponse" message="tns:mandateadviceResponse"></output>
        </operation>
        <operation name="financialinstitutionlist">
            <input wsam:Action="http://core.nip.nibss/NIPInterface/financialinstitutionlistRequest" message="tns:financialinstitutionlist"></input>
            <output wsam:Action="http://core.nip.nibss/NIPInterface/financialinstitutionlistResponse" message="tns:financialinstitutionlistResponse"></output>
        </operation>
        <operation name="fundtransferAdvice_dc">
            <input wsam:Action="http://core.nip.nibss/NIPInterface/fundtransferAdvice_dcRequest" message="tns:fundtransferAdvice_dc"></input>
            <output wsam:Action="http://core.nip.nibss/NIPInterface/fundtransferAdvice_dcResponse" message="tns:fundtransferAdvice_dcResponse"></output>
        </operation>
        <operation name="fundtransferAdvice_dd">
            <input wsam:Action="http://core.nip.nibss/NIPInterface/fundtransferAdvice_ddRequest" message="tns:fundtransferAdvice_dd"></input>
            <output wsam:Action="http://core.nip.nibss/NIPInterface/fundtransferAdvice_ddResponse" message="tns:fundtransferAdvice_ddResponse"></output>
        </operation>
        <operation name="privateAdjustmentOfSettings">
            <input wsam:Action="http://core.nip.nibss/NIPInterface/privateAdjustmentOfSettingsRequest" message="tns:privateAdjustmentOfSettings"></input>
            <output wsam:Action="http://core.nip.nibss/NIPInterface/privateAdjustmentOfSettingsResponse" message="tns:privateAdjustmentOfSettingsResponse"></output>
        </operation>
    </portType>
    <binding name="NIPInterfacePortBinding" type="tns:NIPInterface">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="fundtransfersingleitem_dc">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="fundtransfersingleitem_dd">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="txnstatusquerysingleitem">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="balanceenquiry">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="nameenquirysingleitem">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="amountblock">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="amountunblock">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="accountblock">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="accountunblock">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="adjustNIPSettings">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="mandateadvice">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="financialinstitutionlist">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="fundtransferAdvice_dc">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="fundtransferAdvice_dd">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="privateAdjustmentOfSettings">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="NIPInterface">
        <port name="NIPInterfacePort" binding="tns:NIPInterfacePortBinding">
            <soap:address location="http://10.9.96.4:9301/NIPWS/NIPInterface"></soap:address>
        </port>
    </service>
</definitions>